[submodule "modules/codegenlib"]
	path = modules/codegenlib
	url = https://github.com/Mythical-Forest-Collective/CodeGenLib
[submodule "modules/nimskull"]
	path = modules/nimskull
	url = https://github.com/nim-works/nimskull
